<!-- <div align=center><br><br>
   
  <div>
       <h1 style="font-size:160%;">
             User Name: <input type="text" [(ngModel)]="userObj.userName" name="userName"  type="text"><br><br>
      </h1>
   </div>

    <div>
       <h1 style="font-size:160%;"> 
              Password :<input type="text" [(ngModel)]= "userObj.password" name="Password" type="password"><br><br>
       </h1>        
    </div>

       <div >
     <input type="submit" value="Login" (click)="Login()">
    </div>
</div> -->
<div align=center><br><br>   
<form>

      <div class="uk-margin">
          <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input" placeholder="Usename" [(ngModel)]="userObj.userName" name="userName" type="text">
          </div>
      </div>
  
      <div class="uk-margin">
          <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
              <input class="uk-input"  [(ngModel)]= "userObj.password" placeholder="Password" name="Password" type="password">
          </div>
      </div>
      <div >
            <input   class="uk-button uk-button-primary"  type="submit" value="Login" (click)="Login()">
           </div>
  
  </form>
  </div>