<form [formGroup]= "patientObj.formPatientGroup">
 
      <!-- Patient Id: <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="patientObj.Id" value=""><br><br> -->
      Patient Name: <input formControlName="NameControl" type="text" [(ngModel)]="patientObj.name" value=""><br><br>
      Patient Problem: <input formControlName="PproblemDescriptionDControl" type="text" [(ngModel)]="patientObj.problemDescription" value=""><br><br>
      <input [disabled]="!(patientObj.formPatientGroup.valid)" (click)="Submit()" type="button" value="Add">

</form>
  <table>
  <tr>
      <td>Patient Id</td>
    <td>Patient name</td>
    <td>Patient Description</td>
  </tr>
  <tr *ngFor="let c of patientList">
      <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.problemDescription}}</td>
</tr>
  </table>
